@model Take02.ViewModels.RecipeViewModel

@{
    ViewData["Title"] = "Recipe Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Library
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LibraryName)
        </dd>
        <dt>
            MixType
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MixTypeName)
        </dd>
        <dt>
            Ingredients
        </dt>
        <dd>
            @foreach (var ingredientVM in Model.IngredientViewModels)
            {
                @Html.DisplayFor(modelItem => ingredientVM.IngredientText)
                <br />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
