@model IEnumerable<Take02.Models.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<h2>Recipes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Library@*@Html.DisplayNameFor(model => model.Library.Name)*@
            </th>
            <th>
                Ingredients@*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Library.Name)
                </td>
                <td>
                    @foreach (var ingredient in item.Ingredients.OrderBy(x => x.Number))
                    {
                        <p>
                            @Html.DisplayFor(modelItem => ingredient.Quantity) @Html.DisplayFor(modelItem => ingredient.Unit.Name) @Html.DisplayFor(modelItem => ingredient.Component.Name)
                        </p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructions)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
